<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/02b5c565be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <!-- Custom Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="tiimer/style.css">
    <link rel="stylesheet" href="tiimer/popUp.css">
    <link rel="icon" href="stopwatch.svg">


    <title id="tiempo">Tiimer</title>
</head>
<body>
{#{% block menu %}{{include('menu.html.twig')}}{% endblock %}#}


<!-- Header -->
<div class="main-container">
    <div class="my-header d-flex flex-column align-items-center">
        <small class="remTime fw-normal display-1 text-light mb-3">00:00</small>

        <!-- Progress Bar -->
        <div class="progBar">
            <div class="progress my-1" style="height:2px;">
                <div class="progress-bar p1 bg-warning" role="progressbar" style="width: 1%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress" style="height: 33px;">
                <div class="progress-bar p2 bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>


        <p class="noticeBoard fs-6 text-center mt-3" style="color:black;"></p>
        <div class="my-btns d-flex">
            <a href="#" class="resume py-2 mx-2 d-none ">RESUME</a>
            <a href="#" class="pause py-2 mx-2 d-none">PAUSE</a>
            <a href="#" class="start py-2 mx-2">START</a>
            <a href="#" class="stop py-2 mx-2 ">STOP</a>

        </div>
    </div>
    <div class="text-center">
        <h6 ><a href="/stadistics">Go to Stadistics <i class="bi bi-arrow-right"></i></a></h6>
    </div>

</div>

<small class="error d-flex justify-content-center fw-lighter mt-2 d-none" style="color: red;">Please fill all the inputs or work/break duration must be greater than 0(zero)</small>


<!-- Description Form -->
<div class="description mt-3">
    <form action="" class="desc-form d-flex justify-content-center">
        <input type="number" class="workDur p-2 mx-1"  name="workTime" placeholder='time'>
{#        <button type="button" id="btn">Add Work</button>#}
{#        <input type="text" id="texto">#}
{#        <ul id="ul">#}


{#        </ul>#}
        <input type="text" class="taskDesc p-2 mx-1" name="shortDesc"  placeholder="short description" autocomplete=off>
    </form>
</div>

<!-- TODO Heading -->
{#<div class="TODO-heading d-flex justify-content-center pt-2 text-muted mt-2 ">#}
{#    <hr style="width: 33%; height: 2px;color: #434D7A;">#}
{#    <span>TODO</span>#}
{#    <hr style="width: 33%;height: 2px; color: #434D7A;">#}
{#</div>#}


<div class="completed-list">
    <div id="tasks-container">
        <ol id="tasks">
            <h3>Pending tasks</h3>
        </ol>
        <ol id="tasksForm" hidden></ol>
        <div id="add-task-btn">Add Task</div>

        <form id="task-form" class="hide">
            <input id="text" type="text" placeholder="What are you working on?">
            <div id="btn-container">
                <button id="save" type="submit">Save</button>
                <button id="cancel" type="button">Cancel</button>
            </div>
        </form>
    </div>

    <template id="list-item-template">
        <li class="list-item">
            <span class="task-name"></span>
            {#<div class="right">
                <span class="pomodoro-count"></span>
                <span class="delete-btn">Delete</span>
            </div>#}
        </li>
    </template>
    <template id="list-item-template-form">
        <li class="list-item-form">
            <input type="checkbox">
            <span class="task-name-form"></span>
        </li>
    </template>
</div>



<div class="popup">
    <h2>Tiimer Results</h2>
    {{ form_start(tiimerForm) }}
        <label for="startTime">Start Time</label><br>
        {{ form_widget(tiimerForm.startTime, {'attr':{'class':'workDur p-2 mx-1', 'id':'startTime'}}) }}<br>

        <label for="endTime">End Time</label><br>
        {{ form_widget(tiimerForm.endTime, {'attr':{'class':'workDur p-2 mx-1', 'id':'endTime'}}) }}<br>

        <label for="date">Date</label><br>
        {{ form_widget(tiimerForm.date, {'attr':{'class':'workDur p-2 mx-1', 'id':'date'}}) }}<br>

        <label for="description">Work Description</label><br>
        {{ form_widget(tiimerForm.description, {'attr':{'class':'workDur p-2 mx-1', 'id':'description'}}) }}<br>

        <label for="checked">Work Done</label><br>
        {{ form_widget(tiimerForm.checked, {'attr':{'class':'workDur p-2 mx-1', 'id':'checked'}}) }}<br>

        <label for="unchecked">Total work</label><br>
        {{ form_widget(tiimerForm.unchecked, {'attr':{'class':'workDur p-2 mx-1', 'id':'unchecked'}}) }}<br>

        <div class="mt-3">
            {{ form_widget(tiimerForm.Submit, { 'label': 'Send', 'class':'btn btn-primary'}) }}
            <button class="btn btn-danger" type="cancel" onclick="window.location='/tiimer';return false;">Cancel</button>
        </div>

    {{ form_end(tiimerForm) }}

    <div id="objective">

    </div>

{#    <form method="post" class="desc-form d-flex justify-content-center">#}
{#        <input id="startTime" type="time" name="startTime" class="workDur p-2 mx-1"  step="1">#}
{#        <input type="time" class="workDur p-2 mx-1" name="endTime" id="finishTime" step="1">#}
{#        <input type="date" class="workDur p-2 mx-1" name="date" id="fechaActual">#}
{#        <button class="btn btn-primary d-block w-100" type="submit">Register</button>#}
{#        <label id="objectives"></label>#}
{#        <input type="text" id="description" class="taskDesc p-2 mx-1" name="description"  placeholder="short description" autocomplete=off>#}
{#    </form>#}
</div>

<script src="tiimer/timer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>
</html>